* {
  box-sizing: border-box;
}

.main {
  position: relative;
  background: #0e1320;
  width: 1280px;
  height: 1344px;

  .text5 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 60px;
    height: 15px;
    line-height: 15px;
    letter-spacing: 0;
    color: #b9cacb;
    font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .sectionHeaderFilterA {
    display: flex;
    position: absolute;
    top: 96px;
    right: 24px;
    left: 24px;
    align-items: flex-end;
    justify-content: space-between;
    width: 1232px;
    height: 60px;

    .container2 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      row-gap: 8px;

      .heading2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        box-shadow: 0px 0px 10px 0px #00f0ff66;

        .text {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 503px;
          height: 36px;
          line-height: 36px;
          letter-spacing: -1.5px;
          color: #dbfcff;
          font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 700;
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;

        .text4 {
          display: flex;
          flex-shrink: 0;
          flex-wrap: wrap;
          align-items: center;
          width: 403px;
          height: 16px;
          color: #000000;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-transform: UPPERCASE;

          .text2 {
            line-height: 16px;
            letter-spacing: 1.2px;
            color: #b9cacb;
            font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: UPPERCASE;
          }

          .text3 {
            letter-spacing: 0;
            color: #6bff83;
            font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: UPPERCASE;
          }
        }
      }
    }

    .backgroundBorder {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 16px;
      border: 1px solid #00f0ff33;
      background: #161b29;
      padding: 7px;

      .text6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 94px;
        height: 16px;
        line-height: 16px;
        letter-spacing: 0;
        color: #dbfcff;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .container4 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 12px;
        padding-left: 12px;

        .options {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .imageFill {
            display: flex;
            flex-grow: 1;
            align-items: center;
            margin-right: -41px;
            padding-right: 8px;
            height: 16px;
            overflow: hidden;

            .container3 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 60px;
              overflow: hidden;
            }

            .sVg {
              margin-left: 15px;
              width: 18px;
              height: 18px;
              overflow: hidden;
            }
          }
        }
      }

      .verticalDivider {
        flex-shrink: 0;
        background: #3b494b;
        width: 1px;
        height: 32px;
      }

      .container6 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 12px;
        padding-left: 12px;

        .container5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .text7 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 90px;
            height: 15px;
            line-height: 15px;
            letter-spacing: 0;
            color: #b9cacb;
            font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
          }
        }
      }

      .button {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background: #00f0ff;
        padding: 8px 16px;

        .text8 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 101px;
          height: 16px;
          line-height: 16px;
          letter-spacing: 0;
          color: #006970;
          font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }

  .statusAlertArea {
    display: flex;
    position: absolute;
    top: 196px;
    right: 24px;
    left: 24px;
    align-items: center;
    justify-content: space-between;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: #00f0ff;
    background: #00f0ff0d;
    padding: 16px 16px 16px 12px;
    width: 1232px;
    height: 50px;

    .container8 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 12px;

      .container7 {
        flex-shrink: 0;
        width: 4px;
        height: 18px;
      }

      .text12 {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        width: 569px;
        height: 16px;
        color: #000000;
        font-size: 12px;
        text-transform: UPPERCASE;

        .text9 {
          line-height: 16px;
          letter-spacing: 0.6px;
          color: #7df4ff;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-transform: UPPERCASE;
        }

        .text10 {
          letter-spacing: 0;
          color: #ffffff;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-transform: UPPERCASE;
          text-decoration: underline;
        }

        .text11 {
          letter-spacing: 0;
          color: #dcb8ff;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }
    }

    .text13 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 102px;
      height: 15px;
      line-height: 15px;
      letter-spacing: 0;
      color: #b9cacb;
      font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }
  }

  .bentoGridContent {
    display: flex;
    position: absolute;
    top: 284px;
    right: 24px;
    left: 24px;
    flex-direction: column;
    align-items: center;
    width: 1232px;
    height: 932px;

    .text16 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 72px;
      height: 15px;
      line-height: 15px;
      letter-spacing: 0;
      color: #b9cacb;
      font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 10px;
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 0;
      padding-left: 0;

      .topLeftTypeProportio {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #00f0ff33;
        padding: 23px;
        width: 600px;
        overflow: hidden;
        row-gap: 24px;

        .heading3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;

          .background {
            flex-shrink: 0;
            background: #00f0ff;
            width: 8px;
            height: 8px;
          }

          .text14 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 260px;
            height: 28px;
            line-height: 28px;
            letter-spacing: 0;
            color: #dee2f5;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 700;
          }
        }

        .container9 {
          position: absolute;
          top: 0;
          right: 0;
          flex-shrink: 0;
          width: 43px;
          height: 43px;
        }

        .container17 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          z-index: 1;
          padding-top: 32px;
          padding-bottom: 32px;

          .container11 {
            display: flex;
            position: relative;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            z-index: 2;

            .autoWrapper {
              position: relative;
              flex-shrink: 0;
              width: 256px;
              height: 256px;

              .sVg2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 256px;
                height: 256px;
                overflow: hidden;
                rotate: -90deg;
              }
            }

            .container10 {
              display: flex;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              flex-direction: column;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              width: 256px;
              height: 256px;

              .text15 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 83px;
                height: 36px;
                line-height: 36px;
                letter-spacing: -1.5px;
                color: #dbfcff;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 30px;
                font-weight: 700;
              }
            }
          }

          .container16 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            z-index: 1;
            padding-left: 32px;
            row-gap: 12px;

            .container12 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;

              .background2 {
                flex-shrink: 0;
                background: #00f0ff;
                width: 12px;
                height: 12px;
              }

              .text17 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 73px;
                height: 17px;
                line-height: 17px;
                letter-spacing: 0;
                color: #dee2f5;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
                text-transform: UPPERCASE;
              }
            }

            .container13 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;

              .background3 {
                flex-shrink: 0;
                background: #8a2be2;
                width: 12px;
                height: 12px;
              }

              .text18 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 86px;
                height: 17px;
                line-height: 17px;
                letter-spacing: 0;
                color: #dee2f5;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
                text-transform: UPPERCASE;
              }
            }

            .container14 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;

              .background4 {
                flex-shrink: 0;
                background: #00ff66;
                width: 12px;
                height: 12px;
              }

              .text19 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 99px;
                height: 17px;
                line-height: 17px;
                letter-spacing: 0;
                color: #dee2f5;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
                text-transform: UPPERCASE;
              }
            }

            .container15 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;

              .background5 {
                flex-shrink: 0;
                background: #303443;
                width: 12px;
                height: 12px;
              }

              .text20 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 79px;
                height: 17px;
                line-height: 17px;
                letter-spacing: 0;
                color: #b9cacb;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
                text-transform: UPPERCASE;
              }
            }
          }
        }
      }

      .topRightDomesticProp {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        border: 1px solid #00f0ff33;
        padding: 24px 24px 0px;
        height: 422px;
        overflow: hidden;

        .heading32 {
          display: flex;
          align-items: center;
          column-gap: 8px;
          width: 550px;

          .background6 {
            flex-shrink: 0;
            background: #dcb8ff;
            width: 8px;
            height: 8px;
          }

          .text21 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 253px;
            height: 28px;
            line-height: 28px;
            letter-spacing: 0;
            color: #dee2f5;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 700;
          }
        }

        .container20 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          margin-top: 25px;
          padding-top: 94px;
          padding-bottom: 94px;

          .container18 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            height: 114px;

            .backgroundBorder2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px solid #00f0ff33;
              background: #161b29;
              padding: 15px;
              width: 259px;

              .margin {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                margin-right: 85px;
                margin-left: 85px;
                padding-bottom: 4px;

                .text22 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  width: 58px;
                  height: 16px;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: #b9cacb;
                  font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }

              .text23 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 99px;
                height: 40px;
                line-height: 40px;
                letter-spacing: -1.8px;
                color: #dcb8ff;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 36px;
                font-weight: 700;
              }

              .margin2 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                padding-top: 16px;

                .background7 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  background: #303443;
                  padding-right: 139px;

                  .backgroundShadow {
                    box-shadow: 0px 0px 8px 0px #dcb8ff;
                    background: #dcb8ff;
                    width: 86px;
                    height: 4px;
                  }
                }
              }
            }

            .backgroundBorder3 {
              display: flex;
              flex-direction: column;
              align-items: center;
              border: 1px solid #00f0ff33;
              background: #161b29;
              padding: 15px;
              width: 259px;

              .margin3 {
                display: inline-flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                margin-right: 92px;
                margin-left: 92px;
                padding-bottom: 4px;

                .text24 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  width: 43px;
                  height: 16px;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: #b9cacb;
                  font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                }
              }

              .text25 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                width: 99px;
                height: 40px;
                line-height: 40px;
                letter-spacing: -1.8px;
                color: #dbfcff;
                font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 36px;
                font-weight: 700;
              }

              .margin4 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                padding-top: 16px;

                .background8 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  background: #303443;
                  padding-right: 86px;

                  .backgroundShadow2 {
                    box-shadow: 0px 0px 8px 0px #00f0ff;
                    background: #dbfcff;
                    width: 139px;
                    height: 4px;
                  }
                }
              }
            }
          }

          .container19 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            padding: 32px 26px 0px;

            .text26 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              width: 498px;
              height: 39px;
              line-height: 20px;
              letter-spacing: 0;
              color: #b9cacb;
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }

        .container21 {
          position: absolute;
          top: 0;
          right: 0;
          width: 40px;
          height: 43px;
        }
      }
    }

    .bottomArrestRateByTy {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      margin-top: 32px;
      border: 1px solid #00f0ff33;
      padding: 24px;

      .container25 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        min-width: 1182px;

        .heading33 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .background9 {
            flex-shrink: 0;
            background: #6bff83;
            width: 8px;
            height: 8px;
          }

          .text27 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 348px;
            height: 28px;
            line-height: 28px;
            letter-spacing: 0;
            color: #dee2f5;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 700;
          }
        }

        .container24 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-start;
          column-gap: 16px;

          .text28 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 84px;
            height: 15px;
            line-height: 15px;
            letter-spacing: 0;
            color: #dee2f5;
            font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 10px;
            text-transform: UPPERCASE;
          }

          .container22 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;

            .backgroundShadow3 {
              flex-shrink: 0;
              border-radius: 9999px;
              box-shadow: 0px 0px 5px 0px #6bff83;
              background: #6bff83;
              width: 8px;
              height: 8px;
            }
          }

          .container23 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;

            .background10 {
              flex-shrink: 0;
              border-radius: 9999px;
              background: #303443;
              width: 8px;
              height: 8px;
            }
          }
        }
      }

      .container31 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 41px;
        row-gap: 24px;

        .text30 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 36px;
          height: 16px;
          line-height: 16px;
          letter-spacing: 0;
          color: #6bff83;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 700;
        }

        .container26 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          justify-content: space-between;

          .text29 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 164px;
            height: 16px;
            line-height: 16px;
            letter-spacing: 0.6px;
            color: #dee2f5;
            font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: UPPERCASE;
          }
        }

        .barItem1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .container28 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #3b494b4d;
            background: #161b29;
            padding-right: 137px;

            .overlayVerticalBorde {
              display: flex;
              flex-grow: 1;
              align-items: center;
              border-width: 0px 2px 0px 0px;
              border-style: solid;
              border-color: #6bff83;
              background: #6bff834d;
              padding: 9px 909px 9px 16px;

              .container27 {
                display: inline-flex;
                flex-grow: 1;
                align-items: flex-start;
                column-gap: 4px;
                opacity: 0.2;
                overflow: hidden;

                .background11 {
                  flex-shrink: 0;
                  background: #ffffff;
                  width: 4px;
                  height: 12px;
                }
              }
            }
          }
        }

        .barItem2 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .backgroundBorder4 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #3b494b4d;
            background: #161b29;
            padding-right: 424px;

            .overlayVerticalBorde2 {
              border-width: 0px 2px 0px 0px;
              border-style: solid;
              border-color: #6bff83;
              background: #6bff834d;
              width: 756px;
              height: 30px;
            }
          }
        }

        .barItem3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .container29 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-end;
            align-self: stretch;
            justify-content: space-between;

            .text31 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 156px;
              height: 16px;
              line-height: 16px;
              letter-spacing: 0.6px;
              color: #dee2f5;
              font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              text-transform: UPPERCASE;
            }
          }

          .backgroundBorder5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #3b494b4d;
            background: #161b29;
            padding-right: 674px;

            .overlayVerticalBorde3 {
              border-width: 0px 2px 0px 0px;
              border-style: solid;
              border-color: #6bff83;
              background: #6bff834d;
              width: 506px;
              height: 30px;
            }
          }
        }

        .barItem4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .container30 {
            display: flex;
            flex-shrink: 0;
            align-items: flex-end;
            align-self: stretch;
            justify-content: space-between;

            .text32 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              width: 148px;
              height: 16px;
              line-height: 16px;
              letter-spacing: 0.6px;
              color: #dee2f5;
              font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              text-transform: UPPERCASE;
            }
          }

          .backgroundBorder6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border: 1px solid #3b494b4d;
            background: #161b29;
            padding-right: 1033px;

            .overlayVerticalBorde4 {
              border-width: 0px 2px 0px 0px;
              border-style: solid;
              border-color: #6bff83;
              background: #6bff834d;
              width: 148px;
              height: 30px;
            }
          }
        }
      }

      .horizontalBorder {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 32px;
        border-width: 1px 0px 0px;
        border-style: solid;
        border-color: #3b494b33;
        padding-top: 15px;
        min-width: 1182px;

        .text33 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 66px;
          height: 15px;
          line-height: 15px;
          letter-spacing: 0;
          color: #b9cacb;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }

        .text34 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 108px;
          height: 15px;
          line-height: 15px;
          letter-spacing: 0;
          color: #b9cacb;
          font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
        }
      }
    }
  }

  .container34 {
    display: flex;
    position: absolute;
    top: 1303px;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: #3b494b4d;
    background: #090e1b;
    padding-right: 24px;
    padding-left: 24px;
    width: 1280px;
    height: 41px;

    .button2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 8px;

      .container32 {
        flex-shrink: 0;
        width: 7px;
        height: 4px;
      }

      .text35 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 133px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #b9cacb;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-transform: UPPERCASE;
      }
    }

    .container33 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 24px;

      .text36 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 198px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 0;
        color: #b9cacb;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .text37 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 78px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 0;
        color: #6bff83;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }

      .text38 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 138px;
        height: 15px;
        line-height: 15px;
        letter-spacing: 0;
        color: #b9cacb;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
      }
    }
  }

  .headerTopNavBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: #3b494b33;
    background: #0f172a66;
    padding: 12px 24px 11px;
    width: 1280px;
    height: 61px;
    backdrop-filter: blur(8px);

    .container36 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 16px;

      .shadow {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        box-shadow: 0px 0px 8px 0px #00f0ff80;

        .text39 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 132px;
          height: 28px;
          line-height: 28px;
          letter-spacing: -1px;
          color: #00f0ff;
          font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 700;
          text-transform: UPPERCASE;
        }
      }

      .margin5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding-right: 8px;
        padding-left: 8px;

        .verticalDivider2 {
          flex-shrink: 0;
          background: #3b494b;
          width: 1px;
          height: 16px;
        }
      }

      .container35 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 24px;

        .link {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .text40 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 65px;
            height: 20px;
            line-height: 20px;
            letter-spacing: -0.7px;
            color: #b9cacb;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: UPPERCASE;
          }
        }

        .link2 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .text41 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 58px;
            height: 20px;
            line-height: 20px;
            letter-spacing: -0.7px;
            color: #b9cacb;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: UPPERCASE;
          }
        }

        .link3 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          border-width: 0px 0px 2px;
          border-style: solid;
          border-color: #dcb8ff;
          padding-bottom: 2px;

          .text42 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 59px;
            height: 20px;
            line-height: 20px;
            letter-spacing: -0.7px;
            color: #00f0ff;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: UPPERCASE;
          }
        }

        .link4 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;

          .text43 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            width: 49px;
            height: 20px;
            line-height: 20px;
            letter-spacing: -0.7px;
            color: #b9cacb;
            font-family: "Space Grotesk", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: UPPERCASE;
          }
        }
      }
    }

    .container39 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 16px;

      .button3 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 8px;

        .container37 {
          flex-shrink: 0;
          width: 16px;
          height: 20px;
        }
      }

      .button4 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 8px;

        .container38 {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .sideNavBarHiddenOnMo {
    display: flex;
    position: absolute;
    bottom: 48px;
    left: 475px;
    align-items: center;
    column-gap: 32px;
    border: 1px solid #00f0ff4d;
    border-radius: 9999px;
    box-shadow: 0px 0px 15px 0px #00f0ff4d;
    background: #1a1f2d99;
    padding: 7px 31px;
    width: 330px;
    height: 66px;
    backdrop-filter: blur(8px);

    .text44 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      width: 40px;
      height: 14px;
      line-height: 14px;
      letter-spacing: -0.45px;
      color: #b9cacb;
      font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-transform: UPPERCASE;
    }

    .link5 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      row-gap: 3px;

      .container40 {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
      }
    }

    .link6 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;

      .container41 {
        width: 20px;
        height: 20px;
      }

      .text45 {
        display: flex;
        align-items: center;
        margin: 7px 0px 0px;
        width: 45px;
        height: 14px;
        line-height: 14px;
        letter-spacing: -0.45px;
        color: #dbfcff;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
        text-transform: UPPERCASE;
      }

      .horizontalDivider {
        margin-top: 5px;
        box-shadow: 0px 0px 5px 0px #dcb8ff;
        background: #dcb8ff;
        width: 16px;
        height: 2px;
      }
    }

    .link7 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      row-gap: 3px;

      .container42 {
        flex-shrink: 0;
        width: 20px;
        height: 21px;
      }

      .text46 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        width: 45px;
        height: 14px;
        line-height: 14px;
        letter-spacing: -0.45px;
        color: #b9cacb;
        font-family: "JetBrains Mono", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 9px;
        text-transform: UPPERCASE;
      }
    }

    .link8 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      row-gap: 3px;

      .container43 {
        flex-shrink: 0;
        width: 20px;
        height: 16px;
      }
    }
  }

  .visualPolishScannerL {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    opacity: 0.03;
    padding-bottom: 1343px;
    width: 1280px;
    height: 1344px;
    overflow: hidden;

    .horizontalDivider2 {
      background: #dbfcff;
      width: 1280px;
      height: 1px;
    }
  }
}
